
@import "~src/variables";   

.container {
    align-items: center;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    gap: 10px;
    padding: 10px;

    .example-full-width {
        font-size: 12px;
        width: 256px;

        button {
            background-color: $white;
            border: initial;
        }

        ::ng-deep.mat-form-field-wrapper{
            /*change color of underline*/
            background-color: $black-bg;
        } 

        ::ng-deep.mat-form-field-flex {
            background-color: $grey-show;
            width: 340px;
        }

        ::ng-deep label {
            color: $white;
        }

        input {
            color: $white;
        }

        
    }

    .button-options {
        display: flex;
        flex: 1;
        gap: 10px;
        justify-content: flex-end;
        padding-bottom: 10px;

        button {
            height: 38px;
        }

        mat-label {
            color: white;
        }
    }
}

