.container {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    gap: 10px;
    padding: 10px;

    .example-full-width {
        font-size: 11px;
        min-width: 256px;

        button {
            border: initial;
            background-color: transparent;
        }
    }

    .button-options {
        display: flex;
        justify-content: flex-end;
        flex: 1;

        button {
            height: 40px;
        }
    }
}

